@import '../../styles/variables';

.title {
  font-size: 50px;
  font-weight: bold;
  margin: 80px auto 65px;
  display: flex;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  color: $darkGray;
}

.container{
  max-width: 1085px;
  margin: 0 auto 80px;
}

.form {
  position: relative;
  padding: 68px 100px 70px;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.28);
}

.enterName {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 28px;
  font-family: 'Ubuntu', sans-serif;
  color: $darkGray;
}

.send {
  display: flex;
  font-size: 20px;
}

.sendInput {
  max-width: 625px;
  width: 100%;
  margin-right: 10px;
  border: none;
  font-size: 20px;
  border-bottom: 1px solid $gray;
  
  &::placeholder {
    color: $gray;
  }
}

.sendBtn {
  width: 270px;
  height: 45px;
  background: $red;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.28);
  font-family: 'Ubuntu', sans-serif;
}

.content {
  max-width: 900px;
  width: 100%;
  padding: 0 90px;
  margin:  auto;
  background: white;
  box-sizing: border-box;
}
